{% extends "base.html" %}

{% block content %}
<h2>Dashboard</h2>

<div class="row mb-4">
    <div class="col-md-3">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5>Usuários Totais</h5>
                <h3>{{ analytics.total_users }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5>Reservas Ativas</h5>
                <h3>{{ analytics.active_reservations }}</h3>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card text-white bg-info">
            <div class="card-body">
                <h5>Taxa de Ocupação</h5>
                <h3>{{ analytics.occupancy_rate }}%</h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Espaços Populares</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for space in analytics.popular_spaces %}
                    <li class="list-group-item">{{ space }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>Horários de Pico</h5>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for hour in analytics.peak_hours %}
                    <li class="list-group-item">{{ hour }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}